<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5" /> <!-- Required for WebSocket server to work -->
  <pages controlRenderingCompatibilityVersion="4.5"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="Contoso">
        <endpoint address="" binding="webHttpBinding" contract="Contoso" behaviorConfiguration="web"/>
      </service>
      <service name="Weather">
        <endpoint address="" binding="webHttpBinding" contract="Weather" behaviorConfiguration="web"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
</configuration>